.jj-card-col {
    width: 300px;
}

.card-img-top {
    max-height: 150px;
}

.card-title {
    text-decoration: none;
    color: navy;
    font-weight: bold;
}

.btn {
    margin-right: 10px;
}

.jj-delete-btn {
    background-color: crimson;
}

.jj-new-course-form {
    width: 33%;
}

.form-group {
    margin-bottom: 10px;
}